* {
    font-family: "Roboto", sans-serif;
}

h1::after {
    display: block;

    width: 100%;
    height: 3px;

    background-color: #bbb;

    content: '';
}

a {
    color: #777;
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: black;
}
