* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;

    min-width: 100vw;
    min-height: 100vh;

    display: block;
}

body {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: var(--main-bg);
}

div.content {
    padding: 20px;

    background-color: var(--gui-bg-main);
    border-radius: 10px;

    display: flex;
    text-align: center;
    flex-direction: column;

    align-items: center;
}

a, button {
    font-size: 1em;
    display: block;
    color: white;
    box-sizing: border-box;

    border-radius: 5px;
    border: none;
    padding: 5px;

    background-color: #0084ff;
    
    transition-duration: 0.2s;

    text-decoration: none;

    margin-top: 10px;
}



div.content > div.prev {
    width: 100%;
    margin: 10px;

    border-radius: 5px;

    display: block;

    padding: 0;
}

div.prev > a{
    display: inline-block;
    width: 80%;
    margin: 0;
    padding: 5px;
    border-radius: 0;
}

div.prev > a:first-of-type {
    border-top-left-radius: 5px;
}

div.prev > a:last-of-type {
    border-bottom-left-radius: 5px;
}

div.prev > button {
    display: inline-block;
    width: 20%;
    margin: 0;
    background-color: #ff1e00;
    padding: 5px;
    border-radius: 0;
}

div.prev > button:first-of-type {
    border-top-right-radius: 5px;
}

div.prev > button:last-of-type {
    border-bottom-right-radius: 5px;
}

div.prev > button:hover {
    background-color: #ff5741;
}

div.prev > button:active {
    background-color: #9c1200;
}