* {
	/*  Main  */
	--main-bg: #333;
	--main-color: white;

	/*  Underline  */
	--divider-color: #555;

	/*  Links  */
	--link-color: #0084ff;
	--link-color-hover: #3ea2ff;
	--link-color-active:#0056a7;
}