* {
    font-family: "Roboto", sans-serif;
	background-color: var(--main-bg);
	color: var(--main-color);
}

h1::after {
    display: block;

    width: 100%;
    height: 3px;

    background-color: var(--divider-color);

    content: '';
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition-duration: 0.2s;
}

a:hover {
    color: var(--link-color);
}

a:active {
	color: var(--link-color);
}

span.end {
    display: block;
    margin-top: 10px;
    text-emphasis: bold;
}

span.end::before {
    display: block;

    width: 100%;
    height: 3px;

    background-color: var(--divider-color);

    content: '';
}
