* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;

    min-width: 100vw;
    min-height: 100vh;

    display: block;

}

/*    Topbar rules    */

.topbar
{
    position: fixed;

    background-color: white;

    top: 0;
    left: 0;

    display: flex;

    flex-direction: column;

    width: 100vw;
    z-index: 1;
}

.top-buttons
{
    display: flex;
}

button.top-button
{
    border-radius: 0;
    background-color: white;
    color: black;
    flex: 1;

    border-left: 1px solid black;
    border-right: 1px solid black;

    transition-duration: 0.2s;
}

button.top-button:hover {
    background-color: #ddd;
}

.top-buttons > button:first-child
{
    border-left: none;
}

.top-buttons > button:last-child
{
    border-right: none;
}

div.new-game
{
    flex: 1;
    flex-grow: 1;
    border-top: 2px solid black;
}

div.mobile-settings
{
    flex: 1;
    flex-grow: 1;
    border-top: 2px solid black;
}

div.topbar > div.status
{
    height: 5px;
    flex-basis: auto;
}

/*    Content rules    */

div.stats
{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

div.stats > div
{
    flex: 1;
    display: flex;
}

div.stats > div > span
{
    flex-basis: content;
    display: inline-block;
}

div.stats > div > span:last-child {
    text-align: right;
    flex: 1;
    display: inline-block;
}

div.game {
    background-color: white;
    border-radius: 5px;
    box-shadow: lightgray 3px 3px 2px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

div.game:last-child {
    margin-bottom: none;
}

div.settings {
    display:flex;
    flex-direction: column;
    padding: 5px;
}

/*    Table rules    */

.table {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;

    animation-duration: 0.8s;

    background-color: rgba(0, 0, 0, 0.5);
}

.table[state="open"] ,.table[state="close"]{
    animation-name: slide-in;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.table[state="close"] {
    animation-direction: reverse;
}

.table[state="closed"] {
    transform: translate(0, -100vh);
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translate(0, -100vh);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
